@page "/log-in"
@using Rapido.Web.UI.Shared.Navbar
@using MudBlazor

<Navbar></Navbar>

<MudContainer Style="margin-top: 10vh">
    
    <MudContainer>
        <MudText Typo="Typo.h2" Align="Align.Center">
            Log In to <span class="text-primary" style="font-weight: bolder">Rapido</span>
        </MudText>
    </MudContainer>
    
    <MudContainer Style="padding: 5rem 20rem 10rem 20rem">
        <MudCard Elevation="4" Class="rounded-xl">
            <MudCardContent>
                <MudGrid Style="padding: 2rem 5rem 2rem 5rem">
                    <MudItem xs="12" sm="12">
                        <MudField Label="Email address" Variant="Variant.Text"></MudField>
                    </MudItem>

                    <MudItem xs="12" sm="12">
                        <MudField Label="Password" Variant="Variant.Text"></MudField>
                    </MudItem>

                    <MudItem xs="12" sm="12">
                        <MudText Class="text-lb">Forgot password?</MudText>
                    </MudItem>

                    <MudItem xs="12" sm="12" Style="margin: 10px 25% 0 30%">
                        <MudButton Size="Size.Large" Class="btn-primary rounded-pill">
                            <MudText Typo="Typo.h5" Style="font-weight: bolder; margin: 5px 25px 5px 25px ">Log In</MudText>
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>
    </MudContainer>
    
</MudContainer>
