:root {
    --bs-blue: #1e30f3;
    --bs-light-blue: #0070E0;
    --bs-primary: #000b4b;
    --bs-secondary: #0070E0;
}

body {
    background-color: #f5f5f5;
}

.text-primary {
    --bs-text-opacity: 1;
    color: var(--bs-primary) !important;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: var(--bs-secondary) !important;
}

.text-b {
    --bs-text-opacity: 1;
    color: var(--bs-blue) !important;
}

.text-lb {
    --bs-text-opacity: 1;
    color: var(--bs-light-blue) !important;
}

.text-gradient {
    background: linear-gradient(#001C64, #4c7dfc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-black-light {
    color: black;
    font-weight: lighter;
}

.text-black {
    color: black;
    font-weight: normal;
}

.shadow {
    -webkit-box-shadow: 8px 15px 50px -28px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 15px 50px -28px rgba(66, 68, 90, 1);
    box-shadow: 8px 15px 50px -28px rgba(66, 68, 90, 1);
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInUp-animation {
    animation: 1s fadeInUp;
}

.btn-primary {
    color: white;
    background: var(--bs-blue);
    text-transform: none;
    padding-left: 23px;
    padding-right: 23px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: white;
    background: #0073e6;
}

.btn-primary:disabled {
    color: white !important;
    background: var(--bs-blue) !important;
    text-transform: none;
}

.btn-secondary {
    color: white;
    background: var(--bs-secondary);
    text-transform: none;
    padding-left: 23px;
    padding-right: 23px;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    color: white;
    background: var(--bs-light-blue);
}

.btn-secondary:disabled {
    color: white !important;
    background: var(--bs-secondary) !important;
    text-transform: none;
}

.btn-outline-primary {
    border: 0.18rem solid var(--bs-blue);
    color: var(--bs-blue);
    text-transform: none;
    padding-left: 23px;
    padding-right: 23px;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: white;
    background: var(--bs-blue);
}

.btn-outline-secondary {
    border: 0.18rem solid var(--bs-light-blue);
    color: var(--bs-light-blue);
    text-transform: none;
    padding-left: 23px;
    padding-right: 23px;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
    color: white;
    background: var(--bs-light-blue);
}

.nav-link {
    color: #6d6d6d;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: black;
}

input[type=radio] {
    width: 50px;
    height: 50px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    border: 1px solid #979797;
    outline: 1px solid white;
}

input[type=radio]:checked {
    background-color: #0070E0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    border-color: #8f98f9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(30, 48, 243, 0.25);
}

.currency-selector {
    border: 0.18rem solid var(--bs-light-blue);
    color: var(--bs-light-blue);
    text-transform: none;
    padding-right: 10px;
    padding-left: 15px;
}

.mud-select .mud-select-input .mud-input-slot {
    color: var(--bs-light-blue);
    font-weight: 450;
}