:root {
    --bs-blue: #1e30f3;
    --bs-light-blue: #0070E0;
    --bs-primary: #000b4b;
    --bs-secondary: #0070E0;
}

body {
    background-color: #f5f5f5;
}

.text-primary {
    --bs-text-opacity: 1;
    color: var(--bs-primary) !important;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: var(--bs-secondary) !important;
}

.text-b {
    --bs-text-opacity: 1;
    color: var(--bs-blue) !important;
}

.text-lb {
    --bs-text-opacity: 1;
    color: var(--bs-light-blue) !important;
}

.text-gradient {
    background: linear-gradient(#001C64, #4c7dfc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shadow {
    -webkit-box-shadow: 8px 15px 50px -28px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 15px 50px -28px rgba(66, 68, 90, 1);
    box-shadow: 8px 15px 50px -28px rgba(66, 68, 90, 1);
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInUp-animation {
    animation: 1s fadeInUp;
}

.btn-primary {
    color: white;
    background: var(--bs-blue);
    text-transform: none;
    padding-left: 23px;
    padding-right: 23px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: white;
    background: var(--bs-light-blue);
}

.btn-outline-primary {
    border: 0.18rem solid var(--bs-blue);
    color: var(--bs-blue);
    text-transform: none;
    padding-left: 23px;
    padding-right: 23px;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: white;
    background: var(--bs-blue);
}

.nav-link {
    color: #6d6d6d;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: black;
}