@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Rapido.Web.UI.Services
@inject IAuthenticationService AuthService

<MudAppBar Elevation="0" Style="background-color: var(--bs-primary); margin: auto; padding: 20px" Fixed="false">
    <MudText Typo="Typo.h3" Style="margin-left: 13vw;"><a style="font-weight: bolder; color: white" href="/wallet/summary">Rapido</a></MudText>

    <MudText Typo="Typo.h5" Style="margin: 0 1vw 0 4vw; font-weight: bold"><a style="color: white; cursor: pointer">Home</a></MudText>
    <MudText Typo="Typo.h5" Style="margin: 0 1vw 0 1vw; font-weight: bold"><a style="color: white; cursor: pointer">Send & Request</a></MudText>
    <MudText Typo="Typo.h5" Style="margin: 0 1vw 0 1vw; font-weight: bold"><a style="color: white; cursor: pointer">Wallet</a></MudText>
    <MudText Typo="Typo.h5" Style="margin: 0 1vw 0 1vw; font-weight: bold"><a style="color: white; cursor: pointer">Account</a></MudText>
    
    <MudSpacer/>

    <MudIconButton Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" Size="Size.Medium" aria-label="settings" />
    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Size="Size.Medium" Style="margin-right: 1vw" aria-label="settings" />
    <MudText Typo="Typo.h5" Style="font-weight: bold; margin-right: 13vw"><a style="color: white; cursor: pointer" @onclick="SignOut">Log out</a></MudText>

</MudAppBar>

@code {

    private void SignOut() => AuthService.SignOutAndNavigateAsync("/");

}