@using MudBlazor

<MudAppBar Elevation="1" Style="background-color: white; margin: auto; padding: 20px" Fixed="false">
    <MudText Typo="Typo.h3" Style="margin-left: 13vw;"><a class="text-primary" style="font-weight: bolder" href="/">Rapido</a></MudText>
    <MudSpacer />
    
    <MudText Typo="Typo.h6" Style="margin-right: 20px"><a class="nav-link" style="cursor: pointer">Learn more</a></MudText>
    <MudText Typo="Typo.h6" Style="margin-right: 30px"><a class="nav-link" style="cursor: pointer">Help</a></MudText>
    
    <MudButton Variant="Variant.Outlined" Size="Size.Large" Class="rounded-pill btn-outline-primary" Style="margin-right: 20px;" Href="/log-in">
        <MudText Typo="Typo.h5" Style="font-weight: bolder">Log In</MudText>
    </MudButton>
    
    <MudButton Variant="Variant.Filled" Size="Size.Large" Class="rounded-pill btn-primary" Style="margin-right: 13vw;" Href="">
        <MudText Typo="Typo.h5" Style="font-weight: bolder">Sign Up</MudText>
    </MudButton>
    
</MudAppBar>
